process {
  withName: 'minimap2_align' {
    cpus = 16
    memory = '32GB'
    time = '23h'
  }
}


params {
  str {
    straglr {
      GRCh38 {
        loci = "$EBROOTVIPMINUMCGMINCONFIGMINGD/catalog/VIP_catalog_v1.7.2.bed"
      }
    }
  }
  cram {
    call_cnv=false
    call_snv=false
    call_sv=false
  }
  vcf {
    annotate.GRCh38.stranger_catalog = "$EBROOTVIPMINUMCGMINCONFIGMINGD/catalog/VIP_catalog_v1.7.2.json"
    classify.GRCh38.decision_tree = "$EBROOTVIPMINUMCGMINCONFIGMINGD/decision_trees/decision_tree_v2.0.1_${VIP_CONFIG_TEST_CODE}.json"
    filter.classes = "B,LB,VUS,LP,P"
    filter_samples.classes = "U1,U2,U3"
  }
}
